.card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-bottom: 1px solid #ddd;
}

.container {
  margin-top: 20px;
}

.pagination button {
  cursor: pointer;
}

.list-group-item {
  font-size: 18px;
}

.meal img {
  border-radius: 8px;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-bottom: 1px solid #ddd;
}

.container {
  margin-top: 20px;
}

.pagination button {
  cursor: pointer;
}

.list-group-item {
  font-size: 18px;
}

.meal img {
  border-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FECDA6;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0 ;
}

.container {
  margin-top: 20px;
}

/* styles.css ou App.css */

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.navbar.dark-mode {
  background-color: #333;
}

.card.dark-mode {
  background-color: #1e1e1e;
  border-color: #444;
}

.btn-dark-mode {
  background-color: #444;
  border-color: #666;
  color: #fff;
}

